@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>New File</h1>


@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype="multipart/form-data"}))
 { 
   <div class="form-group col-md-12">
    <label for="formFile" class="form-label">Default file input example</label>
    <input  class="form-control" type="file" name="file" required="required" />
   </div> 

   <div class="col-md-12" style="text-align: right;  margin-top: 50px;"> 
     <input type="submit" value="Upload" class="btn btn-primary"/>
   </div> 
 }
